<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>女士服装</string>
		<key>title</key>
		<string>新款春装全新上架“酒红·冰蓝”</string>
		<key>url</key>
		<string>https://liancan.m.tmall.com/</string>
		<key>image</key>
		<string>banner01</string>
	</dict>
	<dict>
		<key>type</key>
		<string>女士服装</string>
		<key>title</key>
		<string>“扮酷启示录”迷妹少女也为我疯狂</string>
		<key>url</key>
		<string>https://seatosky.m.tmall.com/</string>
		<key>image</key>
		<string>banner02</string>
	</dict>
	<dict>
		<key>type</key>
		<string>女士服装</string>
		<key>title</key>
		<string>女王MAX：2016年宋佳同款秋冬装新品发布</string>
		<key>url</key>
		<string>https://meetlady.m.tmall.com/</string>
		<key>image</key>
		<string>banner03</string>
	</dict>
	<dict>
		<key>type</key>
		<string>女士服装</string>
		<key>title</key>
		<string>衣柜换季购，全场皮草1元起</string>
		<key>url</key>
		<string>https://ju.taobao.com/tg/brand_items.htm?seller_id=1637777302&amp;act_sign_id=20825207&amp;scene=taobao_shop</string>
		<key>image</key>
		<string>banner04</string>
	</dict>
	<dict>
		<key>type</key>
		<string>女士服装</string>
		<key>title</key>
		<string>FANS节：美衣就绪</string>
		<key>url</key>
		<string>https://eptisonfs.m.tmall.com/</string>
		<key>image</key>
		<string>banner05</string>
	</dict>
	<dict>
		<key>type</key>
		<string>日用百货</string>
		<key>title</key>
		<string>Pocket系列五折随身伞</string>
		<key>url</key>
		<string>https://justmodejjry.m.tmall.com/</string>
		<key>image</key>
		<string>banner06</string>
	</dict>
	<dict>
		<key>type</key>
		<string>日用百货</string>
		<key>title</key>
		<string>愿你成为生活作曲家</string>
		<key>url</key>
		<string>https://meridaextrema.m.tmall.com/</string>
		<key>image</key>
		<string>banner07</string>
	</dict>
	<dict>
		<key>type</key>
		<string>日用百货</string>
		<key>title</key>
		<string>2018摩登伞全新上市</string>
		<key>url</key>
		<string>https://justmodejjry.m.tmall.com/</string>
		<key>image</key>
		<string>banner08</string>
	</dict>
	<dict>
		<key>type</key>
		<string>饰品</string>
		<key>title</key>
		<string>十二花神，专为原创设计让生</string>
		<key>url</key>
		<string>https://detail.m.tmall.com/</string>
		<key>image</key>
		<string>banner09</string>
	</dict>
	<dict>
		<key>type</key>
		<string>饰品</string>
		<key>title</key>
		<string>圣诞季：全场满148减10</string>
		<key>url</key>
		<string>https://kailagf.m.tmall.com/</string>
		<key>image</key>
		<string>banner10</string>
	</dict>
	<dict>
		<key>type</key>
		<string>饰品</string>
		<key>title</key>
		<string>串起新风尚：满299减40</string>
		<key>url</key>
		<string>https://redyear.m.tmall.com/</string>
		<key>image</key>
		<string>banner11</string>
	</dict>
	<dict>
		<key>type</key>
		<string>女鞋</string>
		<key>title</key>
		<string>全场女鞋满199减30元</string>
		<key>url</key>
		<string>https://honeygirl.m.tmall.com/</string>
		<key>image</key>
		<string>banner12</string>
	</dict>
	<dict>
		<key>type</key>
		<string>女鞋</string>
		<key>title</key>
		<string>9日0点准点抢第二件半价</string>
		<key>url</key>
		<string>https://ju.taobao.com/tg/brand_items.htm?spm=a1z10.1-b-s.w5003-14900313204.6.p8NZ7A&amp;seller_id=167873659&amp;act_sign_id=19449553&amp;scene=taobao_shop</string>
		<key>image</key>
		<string>banner13</string>
	</dict>
	<dict>
		<key>type</key>
		<string>女鞋</string>
		<key>title</key>
		<string>“网红博主”的日常推荐</string>
		<key>url</key>
		<string>https://chicdoll.m.tmall.com/</string>
		<key>image</key>
		<string>banner14</string>
	</dict>
	<dict>
		<key>type</key>
		<string>女鞋</string>
		<key>title</key>
		<string>秋意正浓，秋鞋来袭</string>
		<key>url</key>
		<string>https://qvonton.m.tmall.com/</string>
		<key>image</key>
		<string>banner15</string>
	</dict>
</array>
</plist>
