<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>A</key>
		<string>dh01</string>
		<key>B</key>
		<string>北欧陶瓷</string>
		<key>C</key>
		<string>199.0</string>
		<key>D</key>
		<string>169.0</string>
		<key>E</key>
		<string>特价商品</string>
		<key>F</key>
		<string>北欧白色陶瓷花瓶</string>
		<key>G</key>
		<string>装饰品</string>
		<key>H</key>
		<string>花瓶</string>
		<key>I</key>
		<string>唐朝</string>
		<key>J</key>
		<string>dh01/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh01/detail/h1.jpg</string>
			<string>dh01/detail/h2.jpg</string>
			<string>dh01/detail/h3.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh01/detail/1.jpg</string>
			<string>dh01/detail/2.jpg</string>
			<string>dh01/detail/3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh03</string>
		<key>B</key>
		<string>瓷器花瓶摆件</string>
		<key>C</key>
		<string>185.0</string>
		<key>D</key>
		<string>158.88</string>
		<key>E</key>
		<string>特价商品</string>
		<key>F</key>
		<string>景德镇陶瓷器花瓶摆件</string>
		<key>G</key>
		<string>装饰品</string>
		<key>H</key>
		<string>花瓶</string>
		<key>I</key>
		<string>唐朝</string>
		<key>J</key>
		<string>dh03/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh03/detail/h1.jpg</string>
			<string>dh03/detail/h2.jpg</string>
			<string>dh03/detail/h3.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh03/detail/1.jpg</string>
			<string>dh03/detail/2.jpg</string>
			<string>dh03/detail/3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh04</string>
		<key>B</key>
		<string>景德镇陶瓷</string>
		<key>C</key>
		<string>588.0</string>
		<key>D</key>
		<string>288.88</string>
		<key>E</key>
		<string>特价商品</string>
		<key>F</key>
		<string>景德镇陶瓷器小花瓶家居饰品</string>
		<key>G</key>
		<string>装饰品</string>
		<key>H</key>
		<string>花瓶</string>
		<key>I</key>
		<string>唐朝</string>
		<key>J</key>
		<string>dh04/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh04/detail/h1.jpg</string>
			<string>dh04/detail/h2.jpg</string>
			<string>dh04/detail/h3.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh04/detail/1.jpg</string>
			<string>dh04/detail/2.jpg</string>
			<string>dh04/detail/3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh05</string>
		<key>B</key>
		<string>镂空古典花瓶</string>
		<key>C</key>
		<string>288.0</string>
		<key>D</key>
		<string>188.38</string>
		<key>E</key>
		<string>特价商品</string>
		<key>F</key>
		<string>陶瓷器手工青花瓷薄胎镂空古典花瓶</string>
		<key>G</key>
		<string>装饰品</string>
		<key>H</key>
		<string>花瓶</string>
		<key>I</key>
		<string>唐朝</string>
		<key>J</key>
		<string>dh05/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh05/detail/h1.jpg</string>
			<string>dh05/detail/h2.jpg</string>
			<string>dh05/detail/h3.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh05/detail/1.jpg</string>
			<string>dh05/detail/2.jpg</string>
			<string>dh05/detail/3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh06</string>
		<key>B</key>
		<string>MISS兔风铃</string>
		<key>C</key>
		<string>78.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string>热门商品</string>
		<key>F</key>
		<string>MISS兔树脂风铃吊饰</string>
		<key>G</key>
		<string>装饰品</string>
		<key>H</key>
		<string>吊饰</string>
		<key>I</key>
		<string>MISS兔</string>
		<key>J</key>
		<string>dh06/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh06/detail/h1.jpg</string>
			<string>dh06/detail/h2.jpg</string>
			<string>dh06/detail/h3.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh06/detail/1.jpg</string>
			<string>dh06/detail/2.jpg</string>
			<string>dh06/detail/3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh09</string>
		<key>B</key>
		<string>圣诞雪花片</string>
		<key>C</key>
		<string>56.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>圣诞节装饰品 彩色立体圣诞雪花片</string>
		<key>G</key>
		<string>装饰品</string>
		<key>H</key>
		<string>吊饰</string>
		<key>I</key>
		<string>盈派</string>
		<key>J</key>
		<string>dh09/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh09/detail/h1.jpg</string>
			<string>dh09/detail/h2.jpg</string>
			<string>dh09/detail/h3.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh09/detail/1.jpg</string>
			<string>dh09/detail/2.jpg</string>
			<string>dh09/detail/3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh10</string>
		<key>B</key>
		<string>盈派圣诞</string>
		<key>C</key>
		<string>58.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>盈派圣诞节装饰品吊饰</string>
		<key>G</key>
		<string>装饰品</string>
		<key>H</key>
		<string>吊饰</string>
		<key>I</key>
		<string>盈派</string>
		<key>J</key>
		<string>dh10/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh10/detail/h1.jpg</string>
			<string>dh10/detail/h2.jpg</string>
			<string>dh10/detail/h3.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh10/detail/1.jpg</string>
			<string>dh10/detail/2.jpg</string>
			<string>dh10/detail/3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh11</string>
		<key>B</key>
		<string>实木台灯</string>
		<key>C</key>
		<string>185.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string>热门商品</string>
		<key>F</key>
		<string>北欧宜家实木台灯</string>
		<key>G</key>
		<string>装饰品</string>
		<key>H</key>
		<string>灯饰</string>
		<key>I</key>
		<string>宜家</string>
		<key>J</key>
		<string>dh11/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh11/detail/h1.jpg</string>
			<string>dh11/detail/h2.jpg</string>
			<string>dh11/detail/h3.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh11/detail/1.jpg</string>
			<string>dh11/detail/2.jpg</string>
			<string>dh11/detail/3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh12</string>
		<key>B</key>
		<string>创意挂钟</string>
		<key>C</key>
		<string>78.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string>热门商品</string>
		<key>F</key>
		<string>不二良品木质创意挂钟</string>
		<key>G</key>
		<string>装饰品</string>
		<key>H</key>
		<string>挂件</string>
		<key>I</key>
		<string>不二良品</string>
		<key>J</key>
		<string>dh12/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh12/detail/h1.jpg</string>
			<string>dh12/detail/h2.jpg</string>
			<string>dh12/detail/h3.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh12/detail/1.jpg</string>
			<string>dh12/detail/2.jpg</string>
			<string>dh12/detail/3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh13</string>
		<key>B</key>
		<string>插干花花瓶</string>
		<key>C</key>
		<string>78.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>不二良品木质插花干花花瓶</string>
		<key>G</key>
		<string>装饰品</string>
		<key>H</key>
		<string>花瓶</string>
		<key>I</key>
		<string>不二良品</string>
		<key>J</key>
		<string>dh13/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh13/detail/h1.jpg</string>
			<string>dh13/detail/h2.jpg</string>
			<string>dh13/detail/h3.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh13/detail/1.jpg</string>
			<string>dh13/detail/2.jpg</string>
			<string>dh13/detail/3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh14</string>
		<key>B</key>
		<string>橡胶酒杯</string>
		<key>C</key>
		<string>19.86</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string>热门商品</string>
		<key>F</key>
		<string>天然橡胶木白酒杯</string>
		<key>G</key>
		<string>生活用品</string>
		<key>H</key>
		<string>器皿</string>
		<key>I</key>
		<string>宜家</string>
		<key>J</key>
		<string>dh14/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh14/detail/h1.jpg</string>
			<string>dh14/detail/h2.jpg</string>
			<string>dh14/detail/h3.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh14/detail/1.jpg</string>
			<string>dh14/detail/2.jpg</string>
			<string>dh14/detail/3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh15</string>
		<key>B</key>
		<string>日式黑胡桃树叶</string>
		<key>C</key>
		<string>12.56</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>雨木日式黑胡桃树叶原创手工质木制</string>
		<key>G</key>
		<string>装饰品</string>
		<key>H</key>
		<string>配件</string>
		<key>I</key>
		<string>雨木</string>
		<key>J</key>
		<string>dh15/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh15/detail/h1.jpg</string>
			<string>dh15/detail/h2.jpg</string>
			<string>dh15/detail/h3.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh15/detail/1.jpg</string>
			<string>dh15/detail/2.jpg</string>
			<string>dh15/detail/3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh16</string>
		<key>B</key>
		<string>羽绒休闲椅</string>
		<key>C</key>
		<string>1220.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>HC 皮布文艺复古实木羽绒休闲椅</string>
		<key>G</key>
		<string>家具</string>
		<key>H</key>
		<string>沙发</string>
		<key>I</key>
		<string>HC</string>
		<key>J</key>
		<string>dh16/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh16/detail/h1.jpg</string>
			<string>dh16/detail/h2.jpg</string>
			<string>dh16/detail/h3.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh16/detail/1.jpg</string>
			<string>dh16/detail/2.jpg</string>
			<string>dh16/detail/3.jpg</string>
			<string>dh16/detail/4.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh17</string>
		<key>B</key>
		<string>布艺沙发椅</string>
		<key>C</key>
		<string>885.88</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string>热门商品</string>
		<key>F</key>
		<string>北欧单人沙发 现代简约布艺沙发椅</string>
		<key>G</key>
		<string>家具</string>
		<key>H</key>
		<string>沙发</string>
		<key>I</key>
		<string>椅酷</string>
		<key>J</key>
		<string>dh17/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh17/detail/h1.jpg</string>
			<string>dh17/detail/h2.jpg</string>
			<string>dh17/detail/h3.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh17/detail/1.jpg</string>
			<string>dh17/detail/2.jpg</string>
			<string>dh17/detail/3.jpg</string>
			<string>dh17/detail/4.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh19</string>
		<key>B</key>
		<string>简约现代家具</string>
		<key>C</key>
		<string>1254.36</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>欧式布艺椭圆形沙发单人简约现代家具</string>
		<key>G</key>
		<string>家具</string>
		<key>H</key>
		<string>沙发</string>
		<key>I</key>
		<string>森牌家具</string>
		<key>J</key>
		<string>dh19/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh19/detail/h1.jpg</string>
			<string>dh19/detail/h2.jpg</string>
			<string>dh19/detail/h3.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh19/detail/1.jpg</string>
			<string>dh19/detail/2.jpg</string>
			<string>dh19/detail/3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh20</string>
		<key>B</key>
		<string>L型布沙发</string>
		<key>C</key>
		<string>256.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>银月亮 文艺清新L型布沙发</string>
		<key>G</key>
		<string>家具</string>
		<key>H</key>
		<string>沙发</string>
		<key>I</key>
		<string>银月亮</string>
		<key>J</key>
		<string>dh20/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh20/detail/h1.jpg</string>
			<string>dh20/detail/h2.jpg</string>
			<string>dh20/detail/h3.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh20/detail/1.jpg</string>
			<string>dh20/detail/2.jpg</string>
			<string>dh20/detail/3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh21</string>
		<key>B</key>
		<string>仿古实木桌</string>
		<key>C</key>
		<string>556.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>北欧美式乡村仿古做旧实木卓</string>
		<key>G</key>
		<string>家具</string>
		<key>H</key>
		<string>桌子</string>
		<key>I</key>
		<string>北欧</string>
		<key>J</key>
		<string>dh21/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh21/detail/h1.jpg</string>
			<string>dh21/detail/h2.jpg</string>
			<string>dh21/detail/h3.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh21/detail/1.jpg</string>
			<string>dh21/detail/2.jpg</string>
			<string>dh21/detail/3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh23</string>
		<key>B</key>
		<string>松木书桌</string>
		<key>C</key>
		<string>1165.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string>热门商品</string>
		<key>F</key>
		<string>定制凳松木长方形电脑桌书桌</string>
		<key>G</key>
		<string>家具</string>
		<key>H</key>
		<string>桌子</string>
		<key>I</key>
		<string>依尔琦</string>
		<key>J</key>
		<string>dh23/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh23/detail/h1.jpg</string>
			<string>dh23/detail/h2.jpg</string>
			<string>dh23/detail/h3.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh23/detail/1.jpg</string>
			<string>dh23/detail/2.jpg</string>
			<string>dh23/detail/3.jpg</string>
			<string>dh23/detail/4.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh24</string>
		<key>B</key>
		<string>美式实木书桌</string>
		<key>C</key>
		<string>886.88</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string>热门商品</string>
		<key>F</key>
		<string>美式实木书桌</string>
		<key>G</key>
		<string>家具</string>
		<key>H</key>
		<string>桌子</string>
		<key>I</key>
		<string>依尔琦</string>
		<key>J</key>
		<string>dh24/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh24/detail/h1.jpg</string>
			<string>dh24/detail/h2.jpg</string>
			<string>dh24/detail/h3.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh24/detail/1.jpg</string>
			<string>dh24/detail/2.jpg</string>
			<string>dh24/detail/3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh25</string>
		<key>B</key>
		<string>唯尔适办公桌</string>
		<key>C</key>
		<string>1248.56</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>唯尔适现代简约烤漆办公桌</string>
		<key>G</key>
		<string>家具</string>
		<key>H</key>
		<string>桌子</string>
		<key>I</key>
		<string>唯尔适</string>
		<key>J</key>
		<string>dh25/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh25/detail/h1.jpg</string>
			<string>dh25/detail/h2.jpg</string>
			<string>dh25/detail/h3.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh25/detail/1.jpg</string>
			<string>dh25/detail/2.jpg</string>
			<string>dh25/detail/3.jpg</string>
			<string>dh25/detail/4.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh41</string>
		<key>B</key>
		<string>姬龙雪圆环</string>
		<key>C</key>
		<string>1568.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>姬龙雪 手提大气圆环红色大包</string>
		<key>G</key>
		<string>潮流装扮</string>
		<key>H</key>
		<string>包包</string>
		<key>I</key>
		<string>姬龙雪</string>
		<key>J</key>
		<string>dh41/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh41/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh41/detail/1.jpg</string>
			<string>dh41/detail/2.jpg</string>
			<string>dh41/detail/3.jpg</string>
			<string>dh41/detail/4.jpg</string>
			<string>dh41/detail/5.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh42</string>
		<key>B</key>
		<string>乐代秋冬新品</string>
		<key>C</key>
		<string>3688.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>乐代秋冬新品女包时尚斜挎包</string>
		<key>G</key>
		<string>潮流装扮</string>
		<key>H</key>
		<string>包包</string>
		<key>I</key>
		<string>乐代</string>
		<key>J</key>
		<string>dh42/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh42/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh42/detail/1.jpg</string>
			<string>dh42/detail/2.jpg</string>
			<string>dh42/detail/3.jpg</string>
			<string>dh42/detail/4.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh45</string>
		<key>B</key>
		<string>万里马</string>
		<key>C</key>
		<string>288.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string>热门商品</string>
		<key>F</key>
		<string>万里马早秋新品女包纯色</string>
		<key>G</key>
		<string>潮流装扮</string>
		<key>H</key>
		<string>包包</string>
		<key>I</key>
		<string>万里马</string>
		<key>J</key>
		<string>dh45/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh45/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh45/detail/1.jpg</string>
			<string>dh45/detail/2.jpg</string>
			<string>dh45/detail/3.jpg</string>
			<string>dh45/detail/4.jpg</string>
			<string>dh45/detail/5.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh46</string>
		<key>B</key>
		<string>粗线堆堆袜</string>
		<key>C</key>
		<string>56.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>粗线堆堆袜女韩国森系保暖加厚</string>
		<key>G</key>
		<string>潮流装扮</string>
		<key>H</key>
		<string>袜子</string>
		<key>I</key>
		<string>记忆时光</string>
		<key>J</key>
		<string>dh46/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh46/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh46/detail/1.jpg</string>
			<string>dh46/detail/2.jpg</string>
			<string>dh46/detail/3.jpg</string>
			<string>dh46/detail/4.jpg</string>
			<string>dh46/detail/5.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh48</string>
		<key>B</key>
		<string>性感渔网袜</string>
		<key>C</key>
		<string>28.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>韩国薄款性感镂空中筒渔网袜</string>
		<key>G</key>
		<string>潮流装扮</string>
		<key>H</key>
		<string>袜子</string>
		<key>I</key>
		<string>记忆时光</string>
		<key>J</key>
		<string>dh48/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh48/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh48/detail/1.jpg</string>
			<string>dh48/detail/2.jpg</string>
			<string>dh48/detail/3.jpg</string>
			<string>dh48/detail/4.jpg</string>
			<string>dh48/detail/5.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh50</string>
		<key>B</key>
		<string>猫人女士中筒袜</string>
		<key>C</key>
		<string>26.88</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>猫人女士中筒袜加厚保暖</string>
		<key>G</key>
		<string>潮流装扮</string>
		<key>H</key>
		<string>袜子</string>
		<key>I</key>
		<string>Miiow</string>
		<key>J</key>
		<string>dh50/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh50/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh50/detail/1.jpg</string>
			<string>dh50/detail/2.jpg</string>
			<string>dh50/detail/3.jpg</string>
			<string>dh50/detail/4.jpg</string>
			<string>dh50/detail/5.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh51</string>
		<key>B</key>
		<string>女士低帮船袜</string>
		<key>C</key>
		<string>8.99</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>南极人 女士低帮船袜</string>
		<key>G</key>
		<string>潮流装扮</string>
		<key>H</key>
		<string>袜子</string>
		<key>I</key>
		<string>南极人</string>
		<key>J</key>
		<string>dh51/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh51/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh51/detail/1.jpg</string>
			<string>dh51/detail/2.jpg</string>
			<string>dh51/detail/3.jpg</string>
			<string>dh51/detail/4.jpg</string>
			<string>dh51/detail/5.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh53</string>
		<key>B</key>
		<string>雪地袜子女</string>
		<key>C</key>
		<string>18.88</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>秋冬季加绒加厚色雪地袜子女</string>
		<key>G</key>
		<string>潮流装扮</string>
		<key>H</key>
		<string>袜子</string>
		<key>I</key>
		<string>隐蜜</string>
		<key>J</key>
		<string>dh53/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh53/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh53/detail/1.jpg</string>
			<string>dh53/detail/2.jpg</string>
			<string>dh53/detail/3.jpg</string>
			<string>dh53/detail/4.jpg</string>
			<string>dh53/detail/5.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh54</string>
		<key>B</key>
		<string>秋冬船袜</string>
		<key>C</key>
		<string>12.56</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>秋冬加厚毛圈船袜</string>
		<key>G</key>
		<string>潮流装扮</string>
		<key>H</key>
		<string>袜子</string>
		<key>I</key>
		<string>merei</string>
		<key>J</key>
		<string>dh54/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh54/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh54/detail/1.jpg</string>
			<string>dh54/detail/2.jpg</string>
			<string>dh54/detail/3.jpg</string>
			<string>dh54/detail/4.jpg</string>
			<string>dh54/detail/5.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh55</string>
		<key>B</key>
		<string>圣诞地板袜子</string>
		<key>C</key>
		<string>15.66</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>秋冬款家居圣诞可爱地板袜子</string>
		<key>G</key>
		<string>潮流装扮</string>
		<key>H</key>
		<string>袜子</string>
		<key>I</key>
		<string>merei</string>
		<key>J</key>
		<string>dh55/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh55/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh55/detail/1.jpg</string>
			<string>dh55/detail/2.jpg</string>
			<string>dh55/detail/3.jpg</string>
			<string>dh55/detail/4.jpg</string>
			<string>dh55/detail/5.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh78</string>
		<key>B</key>
		<string>雕刻实木烟斗</string>
		<key>C</key>
		<string>188.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string>热门商品</string>
		<key>F</key>
		<string>360ym 石楠木根手工雕刻实木烟斗</string>
		<key>G</key>
		<string>其他</string>
		<key>H</key>
		<string>烟斗</string>
		<key>I</key>
		<string>石楠木</string>
		<key>J</key>
		<string>dh78/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh78/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh78/detail/1.jpg</string>
			<string>dh78/detail/2.jpg</string>
			<string>dh78/detail/3.jpg</string>
			<string>dh78/detail/4.jpg</string>
			<string>dh78/detail/5.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh79</string>
		<key>B</key>
		<string>实木烟斗</string>
		<key>C</key>
		<string>158.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string>热门商品</string>
		<key>F</key>
		<string>360ym黑檀木实木烟斗</string>
		<key>G</key>
		<string>其他</string>
		<key>H</key>
		<string>烟斗</string>
		<key>I</key>
		<string>石楠木</string>
		<key>J</key>
		<string>dh79/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh79/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh79/detail/1.jpg</string>
			<string>dh79/detail/2.jpg</string>
			<string>dh79/detail/3.jpg</string>
			<string>dh79/detail/4.jpg</string>
			<string>dh79/detail/5.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh81</string>
		<key>B</key>
		<string>旱烟斗烟杆</string>
		<key>C</key>
		<string>285.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>艾宝 黄铜手工旱烟斗烟杆</string>
		<key>G</key>
		<string>其他</string>
		<key>H</key>
		<string>烟斗</string>
		<key>I</key>
		<string>艾宝</string>
		<key>J</key>
		<string>dh81/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh81/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh81/detail/1.jpg</string>
			<string>dh81/detail/2.jpg</string>
			<string>dh81/detail/3.jpg</string>
			<string>dh81/detail/4.jpg</string>
			<string>dh81/detail/5.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh82</string>
		<key>B</key>
		<string>进口烟斗</string>
		<key>C</key>
		<string>888.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>丹麦牛头BJbjarne进口石楠木烟斗</string>
		<key>G</key>
		<string>其他</string>
		<key>H</key>
		<string>烟斗</string>
		<key>I</key>
		<string>Bjbjarne</string>
		<key>J</key>
		<string>dh82/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh82/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh82/detail/1.jpg</string>
			<string>dh82/detail/2.jpg</string>
			<string>dh82/detail/3.jpg</string>
			<string>dh82/detail/4.jpg</string>
			<string>dh82/detail/5.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh83</string>
		<key>B</key>
		<string>弯式烟斗</string>
		<key>C</key>
		<string>175.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>雕刻黑檀木弯式烟斗</string>
		<key>G</key>
		<string>其他</string>
		<key>H</key>
		<string>烟斗</string>
		<key>I</key>
		<string>石楠木</string>
		<key>J</key>
		<string>dh83/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh83/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh83/detail/1.jpg</string>
			<string>dh83/detail/2.jpg</string>
			<string>dh83/detail/3.jpg</string>
			<string>dh83/detail/4.jpg</string>
			<string>dh83/detail/5.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh84</string>
		<key>B</key>
		<string>阅读斗</string>
		<key>C</key>
		<string>185.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>进口意大利 贝莱诺小号石楠木阅读斗</string>
		<key>G</key>
		<string>其他</string>
		<key>H</key>
		<string>烟斗</string>
		<key>I</key>
		<string>石楠木</string>
		<key>J</key>
		<string>dh84/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh84/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh84/detail/1.jpg</string>
			<string>dh84/detail/2.jpg</string>
			<string>dh84/detail/3.jpg</string>
			<string>dh84/detail/4.jpg</string>
			<string>dh84/detail/5.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh85</string>
		<key>B</key>
		<string>男士烟斗</string>
		<key>C</key>
		<string>132.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>石楠木烟斗男士</string>
		<key>G</key>
		<string>其他</string>
		<key>H</key>
		<string>烟斗</string>
		<key>I</key>
		<string>石楠木</string>
		<key>J</key>
		<string>dh85/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh85/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh85/detail/1.jpg</string>
			<string>dh85/detail/2.jpg</string>
			<string>dh85/detail/3.jpg</string>
			<string>dh85/detail/4.jpg</string>
			<string>dh85/detail/5.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh86</string>
		<key>B</key>
		<string>Bruyere616</string>
		<key>C</key>
		<string>168.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>意大利 Bruyere616 进口烟斗石楠木大号斗送配件</string>
		<key>G</key>
		<string>其他</string>
		<key>H</key>
		<string>烟斗</string>
		<key>I</key>
		<string>Bruyere616</string>
		<key>J</key>
		<string>dh86/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh86/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh86/detail/1.jpg</string>
			<string>dh86/detail/2.jpg</string>
			<string>dh86/detail/3.jpg</string>
			<string>dh86/detail/4.jpg</string>
			<string>dh86/detail/5.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh87</string>
		<key>B</key>
		<string>意大利烟斗</string>
		<key>C</key>
		<string>268.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>竹节款 意大利进口石楠木手工烟斗</string>
		<key>G</key>
		<string>其他</string>
		<key>H</key>
		<string>烟斗</string>
		<key>I</key>
		<string>Bruyere617</string>
		<key>J</key>
		<string>dh87/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh87/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh87/detail/1.jpg</string>
			<string>dh87/detail/2.jpg</string>
			<string>dh87/detail/3.jpg</string>
			<string>dh87/detail/4.jpg</string>
			<string>dh87/detail/5.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh88</string>
		<key>B</key>
		<string>禧瑞祥翡翠</string>
		<key>C</key>
		<string>2555.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>A1393禧瑞祥翡翠</string>
		<key>G</key>
		<string>首饰</string>
		<key>H</key>
		<string>玉器</string>
		<key>I</key>
		<string>禧瑞祥</string>
		<key>J</key>
		<string>dh88/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh88/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh88/detail/1.jpg</string>
			<string>dh88/detail/2.jpg</string>
			<string>dh88/detail/3.jpg</string>
			<string>dh88/detail/4.jpg</string>
			<string>dh88/detail/5.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh89</string>
		<key>B</key>
		<string>A货翡翠</string>
		<key>C</key>
		<string>1888.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>A货翡翠 雄心壮志天然黄翡玉</string>
		<key>G</key>
		<string>首饰</string>
		<key>H</key>
		<string>玉器</string>
		<key>I</key>
		<string>禧瑞祥</string>
		<key>J</key>
		<string>dh89/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh89/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh89/detail/1.jpg</string>
			<string>dh89/detail/2.jpg</string>
			<string>dh89/detail/3.jpg</string>
			<string>dh89/detail/4.jpg</string>
			<string>dh89/detail/5.jpg</string>
		</array>
	</dict>
	<dict>
		<key>A</key>
		<string>dh90</string>
		<key>B</key>
		<string>金扣弥勒佛玉坠</string>
		<key>C</key>
		<string>2888.0</string>
		<key>D</key>
		<string>/</string>
		<key>E</key>
		<string></string>
		<key>F</key>
		<string>东方金钰 金扣弥勒佛玉坠</string>
		<key>G</key>
		<string>首饰</string>
		<key>H</key>
		<string>玉器</string>
		<key>I</key>
		<string>东方金钰</string>
		<key>J</key>
		<string>dh90/main.jpg</string>
		<key>K</key>
		<array>
			<string>dh90/main.jpg</string>
		</array>
		<key>L</key>
		<array>
			<string>dh90/detail/1.jpg</string>
			<string>dh90/detail/2.jpg</string>
			<string>dh90/detail/3.jpg</string>
			<string>dh90/detail/4.jpg</string>
		</array>
	</dict>
</array>
</plist>
